body {
    margin: 0;
    padding: 10px 10px 10px 10px;
    min-height: 100vh;
    color: rgb(12, 49, 43);
    background-color: rgba(14, 2, 2, 0.781);
  }
  
  .container {
    margin: 20px;
  }
  
  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #338496;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 960px;
    height: 80px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #338496;
    position: relativeb;
    flex: 1;
    margin: 10px;
    max-width: 960px;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }
  
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: transparent;
    position: relative;
    flex: 1;
    margin: 10px;
    max-width: 200px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }
  
  /* .content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #338496;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 740px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  } */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #338496;
    position: 10px;
    flex: 1;
    margin: 10px;
    max-width:auto;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  }

  .sidebar img{
    z-index: ;
  }

  .profil{

  }
  .container2{
    display: flex;
    justify-content: space-between;
  }
  .contact{
    padding-left: 20px;
  }
  .listmenu{
    padding-left: 20px;
  }
  .desc{
    color: black;
    padding: 20px 40px 20px 40px;
    margin-top: -80px
  }
  
 .content {
  margin-top: 10px;
  margin-left: 10px;
 }
  
  .desc {
    font-family: Font2;
    font-size: 45px;
    color: #1F1E1E;
    margin: 0;
    position: fixed
    top: 92px;
    left: 0px;
    /* z-index: 1; */
  }

  .bungkus{
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #338496;
    position: relative;
    flex: 2;
    margin: 10px;
    max-width: 740px;
    height: 240px;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;

  }
  .bung{
    font-weight: 1000;
    margin-top: -180px;
    
}
  
  
